<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags -%>

    <title>Leftright</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true -%>
    <%= render partial: 'layouts/webfonts' -%>
  </head>
  <body>
    <%= yield -%>

    <!-- Time Machine Bar: Slider / Date Picker -->
    <nav class="time-machine time-machine-container">
      <input type="range" name="points" min="0" max="100" value="100" class="time-machine-range js-ui-slider" id="date-select-slider">
    </nav>

    <!-- Template: Source List -->
    <script type="text/html" id="template-source-list">
      <ul class="source-list" id="{{id}}"></ul>
    </script>

    <!-- Template: Source List Item -->
    <script type="text/html" id="template-source-item">
      <li class="source-item" data-publication-id="{{id}}">
        <a class="source-item-name" href="#">{{name}}</a>
      </li>
    </script>

    <!-- Template: Slider UI Widget -->
    <script type="text/html" id="template-ui-slider">
      <div class="slider-container" id="{{id}}">
        <a href="#" class="slider-control"></a>
        <span class="slider-track"></span>
      </div>
    </script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
  </body>
</html>
