<!DOCTYPE html>
<html>
<head>
  <title>Leftright</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= render partial: 'layouts/webfonts' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Source Nav: Top level Navigation for Toggling Sources. -->
<nav class="source-nav source-nav-container">
  <ul class="source-nav source-nav-items">
    <li class="source-nav source-nav-item source-nav-left">
      <a href="" id="left-source" class="source-nav source-nav-select">Left Source</a>
    </li>
    <li class="source-nav source-nav-item source-nav-right">
      <a href="" id="left-source" class="source-nav source-nav-select">Right Source</a>
    </li>
  </ul>
</nav>
<!-- End: Source Nav -->

<%= yield %>

</body>
</html>
